.container {
    border: 3px solid gray;
    width: 70%;
    margin: 0px auto;
    text-align: center;
    padding: 10px;
}


body{
    background-image: url("MovieSeats.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}

